<div class="col s9">
  <div id="bulkWallets">
      <div class="input-field screen-only">
          <input id="numWallets" type="number" class="validate" ng-model="numWallets" />
          <label for="numWallets">Number of wallets</label>
      </div>
      <div class="input-field screen-only">
          <input id="perPage" type="number" class="validate" ng-model="perPage" />
          <label for="perPage">Wallets per page</label>
      </div>
      <div class="input-field screen-only">
          <select ng-model="walletArt">
              <option value="none">No wallet art</option>
          </select>
      </div>
      <div class="row screen-only">
          <p>
              <button class="btn-large green" ng-click="generateWallets()">Generate wallets!</button>
              <i class="small mdi-action-print btn-large blue" ng-show="wallets.length > 0" ng-click="print()"></i>
              <i class="small mdi-file-file-download btn-large blue" ng-show="wallets.length > 0" ng-click="exportKeys()"></i>
          </p>
          <p><input type="checkbox" ng-model="usePassword" id="usePassword" /><label for="usePassword">Generate encrypted wallets</label></p>
          <p ng-show="usePassword"><label for="password">Password:</label><input type="password" ng-model="password" placeholder="Do not forget this!" /></p>
      </div>
      <div class="row paperwallet" ng-repeat="wallet in wallets">
          <div class="address col m4 s12">
              <qrcode size="150" data="{{wallet.address}}"></qrcode>
              <p>Address (SHARE)</p>
          </div>
          <div class="privateKey col m4 s12">
              <qrcode size="150" version="8" data="{{private}}" ng-if="encrypted"></qrcode>
              <qrcode size="150" version="8" data="{{base58(private)}}" ng-if="!encrypted"></qrcode>
              <p>Private Key (HIDE)</p>
          </div>
          <div class="page-break" ng-if="perPage && (!$first || perPage === 1) && ($index+1) % perPage === 0" />
      </div>
  </div>
</div>
