header, main, footer {
  padding-left: 240px;
}

main { margin: 2em; }

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

@media only screen and (min-width : 993px) {
  #nav-mobile-button { display: none; }
}

.bold { font-weight: bold; }
